<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Ghibli Movie Picker</title>
</head>
<body>
    <h1 className=" text-teal-500">Hello World!</h1>

    <ul class="movieList">
        <li><% movieDetails %></li>
    </ul>

    <h>Add Movie!</h2>

    <input type="text" name="" id="">

    <button type="submit">Add Film to Watch List</button>
</body>
</html>