<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Ghibli Movie Picker</title>
</head>
<header>
    <%- include('../partials/headers'); %>
</header>
<body>
    <main>
        <h1 className=" text-teal-500">Hello World!</h1>

    <ul class="movieList">
        <li></li>
    </ul>

    <h>Add Movie!</h2>

    <input type="text" name="" id="">

    <button type="submit">Add Film to Watch List</button>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>
      
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>